@{
    Layout = "~/Views/Shared/_CarRentalLayout.cshtml";
    ViewData["Title"] = "Home";
}

<body class="text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <p>Dit is slechts een voorbeeld!-;</p>

    <div class="ag">
        <div class="knopjes">
            <button type="button" class="btn btn-danger admin">Admin</button>
            <button type="button" class="btn btn-primary gebruiker">Gebruiker</button>
        </div>
    </div>
</body>


